@import '../../sass/base/var';
@import '../../sass/utils/mixim';
@import '../../sass/base/default';
@import '../Header/header';
@import '../Filter/filter';
@import '../Select/select';
@import '../Table/table';
@import '../Footer/footer';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
