@font-face {
  font-family: 'Montserrat';
    font-style: normal;
  src: local('fonts'),
    url('./fonts/Montserrat.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: local('fonts'),
  url('./fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
}

body {
  margin: 0;
font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
